In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("ai_job_trends_dataset.csv")
df.head()

Todo listo ðŸš€

,Job Title,Industry,Job Status,AI Impact Level,Median Salary (USD),Required Education,Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Location,Gender Diversity (%)
0,Investment analyst,IT,Increasing,Moderate,42109.76,Masterâ€™s Degree,5,1515,6342,55.96,28.28,UK,44.63
1,"Journalist, newspaper",Manufacturing,Increasing,Moderate,132298.57,Masterâ€™s Degree,15,1243,6205,16.81,89.71,USA,66.39
2,Financial planner,Finance,Increasing,Low,143279.19,Bachelorâ€™s Degree,4,3338,1154,91.82,72.97,Canada,41.13
3,Legal secretary,Healthcare,Increasing,High,97576.13,Associate Degree,15,7173,4060,1.89,99.94,Australia,65.76
4,Aeronautical engineer,IT,Increasing,Low,60956.63,Masterâ€™s Degree,13,5944,7396,53.76,37.65,Germany,72.57

In [3]:
# =========================
# 3. InspecciÃ³n inicial
# =========================
# Info general
df.info()

# Dimensiones del dataset
print("Filas y columnas:", df.shape)

# Primeras filas
display(df.head())

# Valores faltantes
print("\nValores nulos por columna:")
print(df.isnull().sum())

# Duplicados
print("\nDuplicados:", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 13 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Job Title                    30000 non-null  object
 1   Industry                     30000 non-null  object
 2   Job Status                   30000 non-null  object
 3   AI Impact Level              30000 non-null  object
 4   Median Salary (USD)          30000 non-null  float64
 5   Required Education           30000 non-null  object
 6   Experience Required (Years)  30000 non-null  int64
 7   Job Openings (2024)          30000 non-null  int64
 8   Projected Openings (2030)    30000 non-null  int64
 9   Remote Work Ratio (%)        30000 non-null  float64
 10  Automation Risk (%)          30000 non-null  float64
 11  Location                     30000 non-null  object
 12  Gender Diversity (%)         30000 non-null  float64
dtypes: float64(4), int64(3), object(6)
memory usage: 3.0+ MB
Filas y columnas: (30000, 13)

,Job Title,Industry,Job Status,AI Impact Level,Median Salary (USD),Required Education,Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Location,Gender Diversity (%)
0,Investment analyst,IT,Increasing,Moderate,42109.76,Masterâ€™s Degree,5,1515,6342,55.96,28.28,UK,44.63
1,"Journalist, newspaper",Manufacturing,Increasing,Moderate,132298.57,Masterâ€™s Degree,15,1243,6205,16.81,89.71,USA,66.39
2,Financial planner,Finance,Increasing,Low,143279.19,Bachelorâ€™s Degree,4,3338,1154,91.82,72.97,Canada,41.13
3,Legal secretary,Healthcare,Increasing,High,97576.13,Associate Degree,15,7173,4060,1.89,99.94,Australia,65.76
4,Aeronautical engineer,IT,Increasing,Low,60956.63,Masterâ€™s Degree,13,5944,7396,53.76,37.65,Germany,72.57

Valores nulos por columna:
Job Title                      0
Industry                       0
Job Status                     0
AI Impact Level                0
Median Salary (USD)            0
Required Education             0
Experience Required (Years)    0
Job Openings (2024)            0
Projected Openings (2030)      0
Remote Work Ratio (%)          0
Automation Risk (%)            0
Location                       0
Gender Diversity (%)           0
dtype: int64

Duplicados: 0