In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("world_bank_data_2025_clean.csv")
df.head()

,country_name,country_id,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP)
0,aruba,aw,2010,2.078141,2.453597e+09,24093.140151,5.771,11.666131,-1.223407,-2.733457,-18.752537,26.00085,24.821425,16.321438,2.313385e+09,51.651469
1,aruba,aw,2011,4.316297,2.637859e+09,25712.384302,5.771,4.801974,4.005674,3.369237,-9.877656,26.00085,24.821425,16.321438,2.391841e+09,51.651469
2,aruba,aw,2012,0.627472,2.615208e+09,25119.665545,5.771,8.200875,0.184033,-1.040800,3.473451,26.00085,24.821425,16.321438,2.499118e+09,51.651469
3,aruba,aw,2013,-2.372065,2.727850e+09,25813.576727,5.771,10.709709,-1.995948,6.431483,-11.813206,26.00085,24.821425,16.321438,2.563517e+09,51.651469
4,aruba,aw,2014,0.421441,2.790850e+09,26129.839062,5.771,3.213869,3.958897,-1.586575,-4.658577,26.00085,24.821425,16.321438,2.688102e+09,51.651469

In [2]:

df.info()

print("Filas y columnas:", df.shape)

display(df.head())

print("\nValores nulos por columna:")
print(df.isnull().sum())

print("\nDuplicados:", df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3472 entries, 0 to 3471
Data columns (total 16 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_name                     3472 non-null   object
 1   country_id                       3472 non-null   object
 2   year                             3472 non-null   int64
 3   Inflation (CPI %)                3472 non-null   float64
 4   GDP (Current USD)                3472 non-null   float64
 5   GDP per Capita (Current USD)     3472 non-null   float64
 6   Unemployment Rate (%)            3472 non-null   float64
 7   Interest Rate (Real, %)          3472 non-null   float64
 8   Inflation (GDP Deflator, %)      3472 non-null   float64
 9   GDP Growth (% Annual)            3472 non-null   float64
 10  Current Account Balance (% GDP)  3472 non-null   float64
 11  Government Expense (% of GDP)    3472 non-null   float64
 12  Government Revenue (% of GDP)    3472 non-null   float64
 13  Tax Revenue (% of GDP)           3472 non-null   float64
 14  Gross National Income (USD)      3472 non-null   float64
 15  Public Debt (% of GDP)           3472 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 434.1+ KB
Filas y columnas: (3472, 16)

,country_name,country_id,year,Inflation (CPI %),GDP (Current USD),GDP per Capita (Current USD),Unemployment Rate (%),"Interest Rate (Real, %)","Inflation (GDP Deflator, %)",GDP Growth (% Annual),Current Account Balance (% GDP),Government Expense (% of GDP),Government Revenue (% of GDP),Tax Revenue (% of GDP),Gross National Income (USD),Public Debt (% of GDP)
0,aruba,aw,2010,2.078141,2.453597e+09,24093.140151,5.771,11.666131,-1.223407,-2.733457,-18.752537,26.00085,24.821425,16.321438,2.313385e+09,51.651469
1,aruba,aw,2011,4.316297,2.637859e+09,25712.384302,5.771,4.801974,4.005674,3.369237,-9.877656,26.00085,24.821425,16.321438,2.391841e+09,51.651469
2,aruba,aw,2012,0.627472,2.615208e+09,25119.665545,5.771,8.200875,0.184033,-1.040800,3.473451,26.00085,24.821425,16.321438,2.499118e+09,51.651469
3,aruba,aw,2013,-2.372065,2.727850e+09,25813.576727,5.771,10.709709,-1.995948,6.431483,-11.813206,26.00085,24.821425,16.321438,2.563517e+09,51.651469
4,aruba,aw,2014,0.421441,2.790850e+09,26129.839062,5.771,3.213869,3.958897,-1.586575,-4.658577,26.00085,24.821425,16.321438,2.688102e+09,51.651469

Valores nulos por columna:
country_name                       0
country_id                         0
year                               0
Inflation (CPI %)                  0
GDP (Current USD)                  0
GDP per Capita (Current USD)       0
Unemployment Rate (%)              0
Interest Rate (Real, %)            0
Inflation (GDP Deflator, %)        0
GDP Growth (% Annual)              0
Current Account Balance (% GDP)    0
Government Expense (% of GDP)      0
Government Revenue (% of GDP)      0
Tax Revenue (% of GDP)             0
Gross National Income (USD)        0
Public Debt (% of GDP)             0
dtype: int64

Duplicados: 0

DASD